# Data
data/raw/
data/processed/
*.csv
*.zip

# Credentials
.env
kaggle.json

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Logs
logs/
*.log

# Jupyter
.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/
.idea/